# Cleaning used cars database
## Over 370,000 used cars scraped from Ebay Kleinanzeigen

## Importing packages and the dataset

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
data = pd.read_csv('Data/autos.csv', encoding='Latin-1')

## Exploring the dataset

In [4]:
data.shape

(371528, 20)

In [5]:
data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
dateCrawled            371528 non-null object
name                   371528 non-null object
seller                 371528 non-null object
offerType              371528 non-null object
price                  371528 non-null int64
abtest                 371528 non-null object
vehicleType            333659 non-null object
yearOfRegistration     371528 non-null int64
gearbox                351319 non-null object
powerPS                371528 non-null int64
model                  351044 non-null object
kilometer              371528 non-null int64
monthOfRegistration    371528 non-null int64
fuelType               338142 non-null object
brand                  371528 non-null object
notRepairedDamage      299468 non-null object
dateCreated            371528 non-null object
nrOfPictures           371528 non-null int64
postalCode             371528 non-null int64
lastSeen               371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [7]:
data.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration,nrOfPictures,postalCode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

Based on our quick exploration of the dataset we make the following observations:
• Column names are not homogeneous
• A bunch of columns have missing values
• Not all data is correctly filled in by the users. Like year of registration in year 1000 or 9999, powerPS 20000.

# Cleaning the dataset

In [8]:
data.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [9]:
#cleaning column names1
data.columns = data.columns.str.strip().str.lower()
data.columns

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'yearofregistration', 'gearbox', 'powerps', 'model',
       'kilometer', 'monthofregistration', 'fueltype', 'brand',
       'notrepaireddamage', 'datecreated', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

In [10]:
#cleaning column names2
data.rename(columns={'datecrawled':'date_crawled',
                     'offertype':'offer_type',
                     'vehicletype': 'vehicle_type',
                    'yearofregistration': 'registration_year',
                    'monthofregistration': 'registration_month',
                    'fueltype': 'fuel_type',
                    'notrepaireddamage': 'unrepaired_damage',
                    'datecreated':'date_created',
                    'nrofpictures': 'nr_of_pictures',
                    'postalcode': 'zip_code',
                    'lastseen' : 'last_seen'}, inplace=True)
data.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerps', 'model',
       'kilometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'date_created', 'nr_of_pictures', 'zip_code',
       'last_seen'],
      dtype='object')

In [11]:
#Check 'seller' column
data.seller.value_counts(dropna=False)

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [12]:
#The info in the seller column is not usefull to us. Let's remove this column:
data = data.drop('seller', axis=1)
data.head(2)

,date_crawled,name,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,zip_code,last_seen
0,2016-03-24 11:52:17,Golf_3_1.6,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50

In [13]:
#Check 'offer_type' column
data.offer_type.value_counts(dropna=False)

Angebot    371516
Gesuch         12
Name: offer_type, dtype: int64

In [14]:
# We do not need the cars listed with offer type 'Gesuch'. Let's remove those rows 
data = data[data['offer_type'] != 'Gesuch']

#and then remove the column offer_type
data = data.drop('offer_type', axis=1)

In [15]:
#Check 'price' column
data.price.value_counts(dropna=False).sort_index()

0             10772
1              1189
2                12
3                 8
4                 1
5                26
7                 3
8                 9
9                 8
10               84
11                5
12                8
13                7
14                5
15               27
16                2
17                5
18                3
19                3
20               51
21                1
24                1
25               33
26                1
27                1
29                2
30               55
32                1
33                1
35               18
              ...
745000            2
780000            1
820000            1
849000            1
911911            1
999990            1
999999           13
1000000           5
1010010           1
1111111           2
1234566           1
1250000           2
1300000           1
1600000           2
2795000           1
2995000           1
3890000           1
3895000           1
9999999           3
10000000          8
10010011          1
11111111         10
12345678          9
14000500          1
27322222          1
32545461          1
74185296          1
99000000          1
99999999         15
2147483647        1
Name: price, Length: 5597, dtype: int64

In [16]:
#Check 'price' column1
data.price.value_counts(dropna=False).sort_index()

0             10772
1              1189
2                12
3                 8
4                 1
5                26
7                 3
8                 9
9                 8
10               84
11                5
12                8
13                7
14                5
15               27
16                2
17                5
18                3
19                3
20               51
21                1
24                1
25               33
26                1
27                1
29                2
30               55
32                1
33                1
35               18
              ...
745000            2
780000            1
820000            1
849000            1
911911            1
999990            1
999999           13
1000000           5
1010010           1
1111111           2
1234566           1
1250000           2
1300000           1
1600000           2
2795000           1
2995000           1
3890000           1
3895000           1
9999999           3
10000000          8
10010011          1
11111111         10
12345678          9
14000500          1
27322222          1
32545461          1
74185296          1
99000000          1
99999999         15
2147483647        1
Name: price, Length: 5597, dtype: int64

In [17]:
#Check 'price' column2
data[data.price >400000]

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,zip_code,last_seen
1846,2016-03-10 22:47:05,BMW_M1_Museumsfahrzeug_Neuwagenzustand_Glossy_...,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein,2016-03-10 00:00:00,0,60435,2016-03-23 10:45:27
10649,2016-04-05 09:36:18,Porsche_996_GT2_MK2_Clubsport,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein,2016-04-05 00:00:00,0,81669,2016-04-07 12:15:38
14663,2016-04-03 06:03:56,Tausch_moeglich_Polo_vw_n9,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN,2016-04-03 00:00:00,0,46535,2016-04-07 10:16:51
16889,2016-03-15 16:45:45,Ford_Mondeo_Kombi_TÜV_abgelaufen,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja,2016-03-15 00:00:00,0,26607,2016-03-15 16:45:45
20143,2016-03-18 00:55:53,Porsche_911R_Einer_von_911,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-17 00:00:00,0,70435,2016-03-20 04:48:27
20746,2016-03-08 15:54:52,Golf3_Schlachtfest,12345678,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-08 00:00:00,0,18516,2016-03-17 16:15:43
21467,2016-03-19 19:45:02,Porsche_911_911R_1_of_20_ORIGINAL_R_nur_798KG!...,9999999,control,coupe,1967,manuell,215,911,50000,10,benzin,porsche,nein,2016-03-19 00:00:00,0,70435,2016-04-01 10:45:30
26327,2016-03-21 19:43:54,Porsche_911_R,600000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-21 00:00:00,0,76275,2016-03-21 19:43:54
38445,2016-03-21 19:53:52,2_VW_Busse_T3,999999,test,bus,1981,manuell,70,transporter,150000,1,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,99880,2016-03-28 17:18:28
39625,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,12345678,control,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
41980,2016-03-11 09:37:17,Maserati_MC12,2995000,control,coupe,2005,NaN,630,NaN,5000,7,benzin,sonstige_autos,nein,2016-03-11 00:00:00,0,74232,2016-04-06 21:47:44
45055,2016-04-02 00:06:21,Ferrari_LaFerrari_Deutsche_Auslieferung._A_Cel...,2795000,control,coupe,2016,NaN,963,NaN,5000,3,NaN,sonstige_autos,nein,2016-04-01 00:00:00,0,60435,2016-04-03 14:32:00
45833,2016-03-15 10:53:11,Porsche_911_Turbo__930_,1000000,control,coupe,1981,manuell,300,911,150000,1,benzin,porsche,nein,2016-03-15 00:00:00,0,10969,2016-03-22 09:18:05
53507,2016-03-11 18:57:57,Suzuki_SJ_Samurai_413_Van__Kein_Lada_Niva_,1000000,test,suv,1992,manuell,69,andere,100000,0,benzin,suzuki,nein,2016-03-11 00:00:00,0,45711,2016-04-05 21:17:47
54295,2016-03-08 11:51:40,Mazda_5_2.0_CD_DPF_Exclusive,10000000,control,bus,2007,manuell,143,5_reihe,150000,2,diesel,mazda,nein,2016-03-08 00:00:00,0,83301,2016-03-10 14:17:16
54507,2016-03-09 11:40:15,Tausch_DKW_F8_gegen_Lanz_Bulldog,11111111,test,andere,1953,manuell,20,NaN,150000,5,NaN,audi,nein,2016-03-09 00:00:00,0,7774,2016-04-05 14:46:32
56973,2016-03-18 18:52:27,tausche_ford_mondeo_mk3_ghia_gegen_anderes_auto,99999999,control,limousine,2002,manuell,131,mondeo,150000,1,NaN,ford,NaN,2016-03-18 00:00:00,0,27574,2016-03-18 18:52:27
57594,2016-03-25 09:56:28,Astra_f_teile,1111111,test,NaN,1995,manuell,71,astra,150000,5,benzin,opel,NaN,2016-03-25 00:00:00,0,67700,2016-04-06 09:46:21
69726,2016-03-17 15:58:57,Oldtimer_Lkw,999999,test,andere,1960,manuell,9999,NaN,150000,0,NaN,mercedes_benz,NaN,2016-03-17 00:00:00,0,27616,2016-03-19 16:16:52
69747,2016-03-20 10:59:32,Suche_Mercedes_Benz_r_klasse_cdi,99999999,control,bus,2006,NaN,0,andere,150000,0,diesel,mercedes_benz,NaN,2016-03-20 00:00:00,0,86916,2016-04-06 07:45:57
77185,2016-03-21 19:50:05,Aston_Martin_DB_7_Zagato,500000,test,coupe,2004,manuell,435,NaN,30000,7,benzin,sonstige_autos,nein,2016-03-21 00:00:00,0,69120,2016-04-06 22:46:00
77520,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,99999999,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
78265,2016-03-31 19:55:47,McLaren_675LT_Spider/Delivery_on1._May/Vat_is_...,820000,control,cabrio,2016,NaN,674,NaN,5000,3,benzin,sonstige_autos,nein,2016-03-31 00:00:00,0,72762,2016-04-06 14:18:09
78480,2016-03-10 20:43:12,Porsche_991_R,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-10 00:00:00,0,10719,2016-03-15 15:19:48
85047,2016-03-28 12:45:00,Porsche_911,911911,test,cabrio,1967,manuell,160,911,5000,12,benzin,porsche,nein,2016-03-28 00:00:00,0,44575,2016-03-28 12:45:00
87799,2016-03-08 20:39:05,Leasinguebernahme,27322222,control,limousine,2014,manuell,163,c4,40000,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
90853,2016-04-01 05:36:16,Verkaufe_oder_Tausche,11111111,control,NaN,2018,NaN,0,NaN,150000,0,NaN,bmw,NaN,2016-04-01 00:00:00,0,6682,2016-04-05 02:46:37
91106,2016-03-30 19:46:05,Verkaufe_oder_tausche_wenn_nur_gegen_Kombi_s4_...,9999999,test,limousine,1996,manuell,380,a4,60000,5,benzin,audi,nein,2016-03-30 00:00:00,0,47800,2016-03-30 19:46:05
100851,2016-03-12 18:46:35,Porsche_911R,700000,test,coupe,2016,NaN,0,911,5000,3,NaN,porsche,nein,2016-03-12 00:00:00,0,76275,2016-03-12 18:46:35
106651,2016-03-11 22:54:08,SUCHE_PKW_MIT_TÜV_MIN2_MONATE,1111111,control,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,nein,2016-03-11 00:00:00,0,29640,2016-03-18 00:45:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281833,2016-03-19 08:50:50,Coole_Autowerkstatt_in_Esens_gesucht!,10000000,test,NaN,2019,manuell,10,NaN,5000,0,NaN,sonstige_autos,ja,2016-03-19 00:00:00,0,26487,2016-04-06 07:44:29
287835,2016-03-26 00:56:36,tausche_o_verkaufe,12345678,test,kombi,2001,manuell,101,focus,150000,0,benzin,ford,nein,2016-03-26 00:00:00,0,17291,2016-04-01 21:18:10
299872,2016-03-14 10:06:23,Vw_polo_6n_Colour_Concept,12345678,test,kleinwagen,1996,manuell,60,polo,150000,0,NaN,volkswagen,ja,2016-03-14 00:00:00,0,56410,2016-04-06 21:17:11
301198,2016-04-04 09:36:42,4_Wochen_und_kein_Ergebnis!_Hilfe!,999999,control,NaN,2015,NaN,0,NaN,5000,2,NaN,sonstige_autos,NaN,2016-04-04 00:00:00,0,30938,2016-04-06 10:16:37
306469,2016-03-17 12:06:35,Vw_Polo_86c_Schrott_Karosse,1000000,control,coupe,1985,manuell,75,polo,150000,0,benzin,volkswagen,ja,2016-03-17 00:00:00,0,56410,2016-03-18 18:32:52
310924,2016-03-14 05:36:22,Wer_will_mich_kleinen_polo_6n1,12345678,test,kleinwagen,1997,manuell,45,NaN,150000,7,benzin,volkswagen,NaN,2016-03-14 00:00:00,0,18276,2016-04-07 08:16:29
312109,2016-04-05 11:50:18,A3_zu_verkaufen_fuer_1.000.000_Euro,1000000,test,NaN,2000,NaN,0,a3,150000,0,NaN,audi,NaN,2016-04-05 00:00:00,0,49635,2016-04-05 11:50:18
312909,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,999999,test,kombi,2009,manuell,101,focus,125000,4,benzin,ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
316200,2016-04-04 11:53:31,Ferrari_F40,1300000,control,coupe,1992,NaN,0,NaN,50000,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
318143,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,11111111,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
325589,2016-03-27 21:55:14,Tausche/_verkaufe_Golf_1_LX_mit_H_Zulassung,99999999,test,limousine,1983,manuell,70,golf,150000,3,NaN,volkswagen,nein,2016-03-27 00:00:00,0,28790,2016-04-05 21:44:41
330117,2016-04-01 15:56:24,Jaguar_XJ220_Nur_1900_km_Deutsche_Auslieferung...,466000,test,coupe,1993,manuell,549,andere,5000,5,benzin,jaguar,nein,2016-04-01 00:00:00,0,60435,2016-04-03 09:29:36
332028,2016-03-31 18:39:53,"Golf_3_Gti_""16v_Turbo_vr6_bbs""",11111111,control,NaN,1995,NaN,116,golf,150000,6,benzin,volkswagen,NaN,2016-03-31 00:00:00,0,72127,2016-04-02 13:47:59
332531,2016-03-20 02:36:23,SUCHE_Chevrolet_oder_Gmc_pick_up_vor/bis_bj86_...,999999,control,NaN,1985,NaN,0,NaN,150000,0,diesel,chevrolet,NaN,2016-03-20 00:00:00,0,7973,2016-04-02 06:46:54
333699,2016-03-12 03:36:18,Maserati_MC12,1600000,test,coupe,2005,NaN,0,NaN,10000,4,NaN,sonstige_autos,nein,2016-03-12 00:00:00,0,70569,2016-03-21 04:44:24
337851,2016-03-24 18:59:49,Porsche_911,487000,test,coupe,2015,automatik,500,NaN,5000,8,NaN,porsche,nein,2016-03-24 00:00:00,0,53179,2016-04-07 14:58:09
338415,2016-03-26 22:49:39,Polo_6n_gti__Zustand_egal_,11111111,test,NaN,2000,NaN,120,polo,125000,0,benzin,volkswagen,NaN,2016-03-26 00:00:00,0,94577,2016-04-06 15:45:52
344196,2016-03-05 17:25:25,Porsche_911R__991R__weiss/rot_2016,745000,control,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein,2016-03-05 00:00:00,0,60323,2016-03-12 18:45:25
347435,2016-03-30 15:50:46,Schlachte_Golf_4_1.4_16_fast_alles_noch_da,9999999,test,NaN,2000,manuell,75,golf,150000,0,benzin,volkswagen,ja,2016-03-30 00:00:00,0,39576,2016-04-07 06:44:45
358868,2016-03-16 16:49:53,Tausche_BMW_E46_Touring_Diesel,10000000,control,kombi,2002,manuell,0,NaN,150000,7,diesel,bmw,nein,2016-03-16 00:00:00,0,25821,2016-03-17 15:15:40
359083,2016-03-29 11:38:54,Volkswagen_Jetta_GT,999990,test,limousine,1985,manuell,111,jetta,150000,12,benzin,volkswagen,ja,2016-03-29 00:00:00,0,50997,2016-03-29 11:38:54
360768,2016-03-21 17:39:22,Andere_Andere_9FF_GT9CS,440000,control,coupe,2015,NaN,0,NaN,5000,8,NaN,sonstige_autos,nein,2016-03-21 00:00:00,0,44791,2016-04-06 17:46:48
361451,2016-04-03 14:36:47,Hilfe_Hilfe_Hilfe,10010011,test,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,0,44532,2016-04-05 13:18:04
362782,2016-03-06 10:38:42,Passat_35i_1.8_90ps_Kombi_frisch_lackiert_!,99999999,test,NaN,1995,NaN,0,passat,150000,0,benzin,volkswagen,NaN,2016-03-06 00:00:00,0,1809,2016-03-20 08:18:07
363434,2016-03-23 06:36:20,Vw_Passat_35i_1.8_schlachtfest,10000000,test,kombi,1996,manuell,90,NaN,150000,0,benzin,volkswagen,ja,2016-03-23 00:00:00,0,36251,2016-03-26 01:16:15
364171,2016-04-04 21:25:21,Ferrari_FXX,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60313,2016-04-05 12:07:37
365461,2016-03-31 18:53:48,BMW_M1_mit_4900_Km_Neuwagenzustand_Glossy_Orange,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein,2016-03-31 00:00:00,0,60435,2016-04-06 11:44:48
366653,2016-03-20 10:59:52,BMW_E36_Cabrio_tausch_gegen_ein_Opel_Insignia,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN,2016-03-20 00:00:00,0,36251,2016-03-20 10:59:52
366861,2016-03-21 10:53:06,Ferrari_FXX__unfallfrei__perfekter_Zustand,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein,2016-03-21 00:00:00,0,60323,2016-03-22 10:36:39
367041,2016-03-24 19:00:03,Maserati_MC12,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein,2016-03-24 00:00:00,0,70569,2016-03-24 19:41:13

In [18]:
#Change prices over 600.000 to NaN
data.loc[data['price'] >600000, 'price'] = np.nan

In [19]:
#Check 'abtest' column
data['abtest'].value_counts(dropna=False)

test       192581
control    178935
Name: abtest, dtype: int64

In [20]:
#Check 'vehicle_type' column
data['vehicle_type'].value_counts(dropna=False)

limousine     95894
kleinwagen    80021
kombi         67564
NaN           37862
bus           30199
cabrio        22898
coupe         19014
suv           14707
andere         3357
Name: vehicle_type, dtype: int64

In [21]:
#Check 'registration_year' column
data['registration_year'].value_counts(dropna=False).sort_index()

1000     38
1001      1
1039      1
1111      4
1200      1
1234      4
1253      1
1255      1
1300      2
1400      1
1500      5
1600      2
1602      1
1688      1
1800      5
1910    104
1911      1
1915      1
1919      1
1920      1
1923      3
1925      1
1927      2
1928      2
1929      8
1930      5
1931      4
1932      4
1933      6
1934      5
       ...
3700      1
3800      1
4000      3
4100      1
4500      2
4800      1
5000     18
5300      1
5555      2
5600      1
5900      1
5911      2
6000      6
6200      1
6500      1
7000      4
7100      1
7500      2
7777      1
7800      1
8000      2
8200      1
8455      1
8500      1
8888      2
9000      5
9229      1
9450      1
9996      1
9999     27
Name: registration_year, Length: 155, dtype: int64

In [22]:
# Update registration year >2018 and <1801 to NaN
data.loc[data["registration_year"]>2018, "registration_year"] = np.nan
data.loc[data["registration_year"]<1801, "registration_year"] = np.nan

In [23]:
#Check 'gearbox' column
data['gearbox'].value_counts(dropna=False)

manuell      274208
automatik     77105
NaN           20203
Name: gearbox, dtype: int64

In [24]:
#Check 'powerps' column
data['powerps'].value_counts(dropna=False).sort_index()

0        40812
1           34
2           10
3            9
4           30
5          103
6           11
7           11
8            7
9            5
10          17
11          28
12          24
13           8
14          21
15          21
16          11
17           8
18          54
19          15
20          23
21           6
22           5
23          45
24          31
25          16
26         291
27          40
28           6
29          35
         ...
11509        1
11530        1
11620        1
11635        1
12012        1
12510        2
12512        3
12684        1
13616        1
13636        1
14009        1
15001        1
15016        1
15017        1
15020        1
15033        1
16011        1
16051        1
16311        1
16312        1
17011        1
17019        1
17322        1
17410        1
17700        1
17932        1
19208        1
19211        1
19312        1
20000        1
Name: powerps, Length: 794, dtype: int64

In [25]:
data.sort_values(by='powerps', ascending=False)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,zip_code,last_seen
230298,2016-03-09 15:43:53,Mercedes_CLK_430___8_Zylinder_,4300.0,control,coupe,1999.0,automatik,20000,clk,150000,1,benzin,mercedes_benz,nein,2016-03-09 00:00:00,0,19406,2016-03-30 08:47:08
313723,2016-03-09 08:53:11,Verkaufe_BMW_528i,1500.0,test,kombi,1997.0,manuell,19312,5er,150000,1,NaN,bmw,nein,2016-03-09 00:00:00,0,21129,2016-04-07 11:44:34
119715,2016-04-03 07:36:21,BMW_120D_Diesel_M_packet_Vollauslastung,9999.0,test,limousine,2006.0,manuell,19211,1er,125000,0,diesel,bmw,NaN,2016-04-03 00:00:00,0,45964,2016-04-07 10:16:10
138950,2016-03-25 14:55:49,BMW_E39_5er_525i,2100.0,control,kombi,2001.0,manuell,19208,5er,150000,5,NaN,bmw,ja,2016-03-25 00:00:00,0,59556,2016-03-30 05:16:18
67100,2016-03-28 11:49:56,Opel_Omega,3250.0,control,limousine,2001.0,automatik,17932,omega,150000,6,benzin,opel,NaN,2016-03-28 00:00:00,0,86641,2016-04-06 14:17:21
206116,2016-03-20 16:51:48,Verkaufe_meinen_bmw_525d,6000.0,test,kombi,2004.0,automatik,17700,5er,150000,7,diesel,bmw,nein,2016-03-20 00:00:00,0,26316,2016-04-06 22:45:56
158057,2016-03-09 18:57:50,Audi_80_Avant_2.8_V6_RS2_Optik_/_LPG,1700.0,test,kombi,1995.0,manuell,17410,80,5000,0,benzin,audi,ja,2016-03-09 00:00:00,0,23562,2016-03-15 07:17:06
55501,2016-03-22 20:48:06,BMW_E70_X5_3.0D_Panoramadach,23333.0,control,suv,2009.0,automatik,17322,x_reihe,125000,2,diesel,bmw,nein,2016-03-22 00:00:00,0,47051,2016-04-06 14:45:40
196469,2016-03-17 19:50:23,BMW_E30_touring_325i_Projektaufgabe_325e_viele...,1749.0,control,kombi,1989.0,manuell,17019,3er,5000,12,benzin,bmw,NaN,2016-03-17 00:00:00,0,89542,2016-03-26 00:46:59
183992,2016-03-19 11:38:23,Audi_a3_2_0_tdi_s_line_plus_125kW_dsg,10900.0,test,limousine,2007.0,automatik,17011,a3,5000,7,diesel,audi,NaN,2016-03-19 00:00:00,0,12355,2016-03-21 15:20:06
227574,2016-03-10 08:57:25,Top_Cabrio_A4_s_line,11950.0,test,cabrio,2008.0,manuell,16312,a4,20000,4,benzin,audi,nein,2016-03-10 00:00:00,0,51647,2016-03-17 09:16:19
326527,2016-04-02 15:50:55,BMW_520_Touring__mit__Austauschmoter_38tsd_km_...,11900.0,control,kombi,2007.0,automatik,16311,5er,150000,10,diesel,bmw,nein,2016-04-02 00:00:00,0,33100,2016-04-06 14:45:57
190146,2016-03-17 19:39:39,Mercedes_Benz_Oldtimer_W108_250SE_Automatik_Gu...,5250.0,control,limousine,1967.0,automatik,16051,NaN,90000,6,benzin,mercedes_benz,nein,2016-03-17 00:00:00,0,49377,2016-03-22 01:45:27
260714,2016-03-22 22:55:30,Skoda_Octavia_Combi_Tsi,5000.0,control,NaN,2018.0,manuell,16011,octavia,150000,2,benzin,skoda,ja,2016-03-22 00:00:00,0,12681,2016-03-23 07:41:08
215849,2016-03-12 16:40:34,Alfa_Romeo_GT,3150.0,control,coupe,2007.0,manuell,15033,andere,5000,3,diesel,alfa_romeo,nein,2016-03-12 00:00:00,0,35716,2016-03-17 18:47:28
155718,2016-03-23 15:55:50,Alfa_Romeo_147,3650.0,test,kleinwagen,2002.0,automatik,15020,147,125000,11,benzin,alfa_romeo,nein,2016-03-23 00:00:00,0,30855,2016-04-05 19:17:37
273571,2016-03-11 13:59:35,Bmw_320d,1750.0,test,kombi,2003.0,automatik,15017,3er,150000,11,diesel,bmw,NaN,2016-03-11 00:00:00,0,52525,2016-03-11 14:41:51
89370,2016-03-18 00:51:03,PT_Cruiser_Crd_2.0_fuer_Kurzentschlossene_bis_...,0.0,test,NaN,2016.0,manuell,15016,ptcruiser,150000,12,diesel,chrysler,NaN,2016-03-17 00:00:00,0,24802,2016-03-20 09:51:49
170136,2016-04-04 14:59:24,Top_geopflegter_fiesta_st,5200.0,test,kleinwagen,2005.0,manuell,15001,fiesta,150000,12,benzin,ford,nein,2016-04-04 00:00:00,0,70372,2016-04-06 16:17:54
284182,2016-03-17 23:53:06,Opel_Astra_j,9799.0,control,limousine,2011.0,manuell,14009,NaN,80000,6,benzin,opel,nein,2016-03-17 00:00:00,0,86415,2016-03-23 17:18:38
238730,2016-03-30 16:38:22,Mercedes_C_200_CDI_BE_T_Modell_Silber_TOP_GEPF...,15499.0,test,kombi,2012.0,manuell,13636,c_klasse,125000,4,diesel,mercedes_benz,nein,2016-03-30 00:00:00,0,24983,2016-04-07 07:15:50
224610,2016-03-11 19:44:07,Mercedes_E_klasse_combi,500.0,test,NaN,2016.0,manuell,13616,e_klasse,150000,8,NaN,mercedes_benz,NaN,2016-03-11 00:00:00,0,28717,2016-03-20 06:46:17
197143,2016-04-04 15:53:25,Ibiza_Seat_zu_verkaufen,200.0,test,andere,1993.0,manuell,12684,NaN,5000,0,benzin,sonstige_autos,nein,2016-04-04 00:00:00,0,26725,2016-04-06 17:44:48
266186,2016-03-17 16:55:13,Schlachte_Opel_vectra_b_Caravan,300.0,test,NaN,2017.0,manuell,12512,vectra,150000,0,NaN,opel,ja,2016-03-17 00:00:00,0,88690,2016-03-23 05:20:52
306393,2016-03-21 12:49:22,Opel_safira,2000.0,control,bus,2003.0,manuell,12512,zafira,150000,12,benzin,opel,NaN,2016-03-21 00:00:00,0,52072,2016-04-06 07:45:32
363454,2016-03-25 12:55:36,Mitsubishi_carisma,1300.0,test,limousine,2000.0,manuell,12512,carisma,150000,9,benzin,mitsubishi,NaN,2016-03-25 00:00:00,0,42105,2016-04-06 14:44:53
81570,2016-03-25 13:36:57,Zu_verkaufen_Opel_Astra_G,850.0,test,limousine,2000.0,manuell,12510,astra,30000,10,NaN,opel,nein,2016-03-25 00:00:00,0,23611,2016-03-31 20:45:39
171721,2016-03-28 15:53:47,Ford_Galaxy_TDCI_Ghia_7_Sitze.Leder._Vollausst...,9800.0,control,NaN,2016.0,NaN,12510,galaxy,150000,0,diesel,ford,nein,2016-03-28 00:00:00,0,66740,2016-04-02 20:18:58
66039,2016-03-27 18:47:59,VW_Polo_6N_GTI,2200.0,control,kleinwagen,1999.0,manuell,12012,polo,150000,3,benzin,volkswagen,NaN,2016-03-27 00:00:00,0,9526,2016-04-01 19:44:55
105618,2016-03-22 16:58:28,80_2.0_E_*HU_3/2018*,3500.0,test,limousine,1993.0,automatik,11635,80,125000,2,benzin,audi,nein,2016-03-22 00:00:00,0,80809,2016-03-26 19:15:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200712,2016-03-26 11:55:37,Mercedes_amg_vollausttatung_breit_tief_Tuv_bis...,5500.0,control,limousine,1998.0,automatik,0,e_klasse,150000,12,benzin,mercedes_benz,nein,2016-03-26 00:00:00,0,89250,2016-04-05 23:17:14
200704,2016-03-25 12:54:01,Bmw_318_i_touring,8800.0,test,kombi,2006.0,manuell,0,NaN,150000,0,benzin,bmw,NaN,2016-03-25 00:00:00,0,86633,2016-04-06 14:44:50
333798,2016-03-18 16:37:21,VW_Lupo_1.0,400.0,test,kleinwagen,1999.0,manuell,0,lupo,150000,4,benzin,volkswagen,NaN,2016-03-18 00:00:00,0,12679,2016-03-22 10:46:57
200701,2016-03-31 20:36:19,Renault_Twingo_Baujahr_1998,400.0,test,NaN,2017.0,manuell,0,twingo,70000,12,benzin,renault,NaN,2016-03-31 00:00:00,0,61169,2016-04-02 15:29:21
200697,2016-04-05 12:57:47,Seitenschweller_Rieger_Tuning_Audi_80_B4,100.0,test,NaN,1995.0,NaN,0,80,5000,8,NaN,audi,NaN,2016-04-05 00:00:00,0,58511,2016-04-05 12:57:47
200855,2016-04-02 17:57:15,Opel_vectra_Kombi_Diesel_TÜV__2.17,1100.0,control,kombi,2002.0,manuell,0,vectra,150000,4,diesel,opel,nein,2016-04-02 00:00:00,0,24568,2016-04-02 17:57:15
200869,2016-03-07 10:57:33,Opel_astra_G_Klima_ZV_El_Fensterheber__Servo_5...,1250.0,test,limousine,2000.0,manuell,0,astra,150000,8,benzin,opel,NaN,2016-03-07 00:00:00,0,58553,2016-03-08 16:21:09
201033,2016-03-19 17:48:37,Mazda_Demio_1_5_75_PS,0.0,control,NaN,2017.0,manuell,0,andere,90000,4,benzin,mazda,nein,2016-03-19 00:00:00,0,46049,2016-03-20 20:16:56
200952,2016-03-26 11:50:44,Volkswagen_Golf_Cabrio_1.6,600.0,control,cabrio,1997.0,NaN,0,golf,150000,3,benzin,volkswagen,ja,2016-03-26 00:00:00,0,59494,2016-04-05 23:17:09
201026,2016-03-21 22:47:45,Renault_Clio_1_5_DCI_Diesel_Gruene_Plakette,999.0,control,kleinwagen,2003.0,manuell,0,clio,150000,9,diesel,renault,nein,2016-03-21 00:00:00,0,52445,2016-03-22 16:39:55
333724,2016-04-06 16:06:19,Verkaufe_Opel_Tigra_guter_Zustand,1680.0,control,coupe,2000.0,manuell,0,tigra,150000,2,benzin,opel,NaN,2016-04-06 00:00:00,0,35510,2016-04-06 16:06:19
200998,2016-03-12 20:54:31,Audi_a3_1.8l,1500.0,test,NaN,2016.0,manuell,0,NaN,150000,0,benzin,audi,NaN,2016-03-12 00:00:00,0,26931,2016-03-12 20:54:31
23385,2016-03-16 17:46:02,BMW_318IS_Coupe___Aussen_matt,350.0,control,coupe,1994.0,manuell,0,3er,150000,7,benzin,bmw,NaN,2016-03-16 00:00:00,0,41238,2016-03-30 09:16:38
200981,2016-03-17 15:51:29,Ford_Fiesta_meines_Grossvaters_abzugeben_aus_p...,280.0,test,kleinwagen,1994.0,NaN,0,fiesta,90000,0,benzin,ford,NaN,2016-03-17 00:00:00,0,44805,2016-04-06 23:47:04
200974,2016-03-19 19:54:17,Espace_2_J63_2_2_Benzin_Komplett_oder_in_Teilen,1.0,control,bus,1996.0,manuell,0,espace,150000,4,benzin,renault,NaN,2016-03-19 00:00:00,0,16259,2016-04-07 08:44:44
333734,2016-03-11 11:06:25,Pajero_penin,999.0,test,suv,1999.0,NaN,0,pajero,125000,11,benzin,mitsubishi,ja,2016-03-11 00:00:00,0,56637,2016-03-23 16:19:54
5228,2016-03-12 07:58:56,Nur_bis_Sonntag_20Uhr,300.0,control,kleinwagen,1997.0,manuell,0,punto,150000,0,benzin,fiat,NaN,2016-03-12 00:00:00,0,27367,2016-03-21 07:50:05
200957,2016-03-22 19:50:56,Bmw_520i_kombi__TÜV_NEU,1250.0,test,kombi,1998.0,manuell,0,NaN,150000,0,benzin,bmw,nein,2016-03-22 00:00:00,0,35687,2016-04-07 11:16:23
200950,2016-03-30 10:57:23,Audi_80_B4_Limousine__TÜV_abgelaufen,279.0,test,limousine,1994.0,manuell,0,80,150000,5,benzin,audi,ja,2016-03-30 00:00:00,0,84076,2016-04-07 01:44:49
200872,2016-04-01 19:06:23,Toller_Ford_Fiesta__TÜV__Klima,399.0,test,kleinwagen,1997.0,manuell,0,fiesta,150000,0,benzin,ford,NaN,2016-04-01 00:00:00,0,61440,2016-04-03 13:10:37
5225,2016-03-10 18:47:39,VW_Polo_1.2,4999.0,test,kleinwagen,2007.0,manuell,0,polo,125000,9,benzin,volkswagen,nein,2016-03-10 00:00:00,0,66709,2016-03-13 00:17:50
200927,2016-03-21 21:54:58,Opel_corsa_b,200.0,control,NaN,2000.0,manuell,0,corsa,150000,0,benzin,opel,NaN,2016-03-21 00:00:00,0,25575,2016-04-07 03:17:29
333750,2016-03-11 11:37:36,RENAULT_MEGANE_SCENIC_1.9_dCi,3500.0,control,NaN,2005.0,manuell,0,megane,125000,0,diesel,renault,NaN,2016-03-11 00:00:00,0,31535,2016-03-19 16:19:01
333751,2016-03-26 12:49:16,Schoener_Chevy_Blazer_Silverado,0.0,control,suv,1986.0,NaN,0,NaN,150000,8,diesel,chevrolet,ja,2016-03-26 00:00:00,0,39108,2016-04-02 02:18:09
333752,2016-03-10 15:58:04,Opel_corsa_b_Baujahr_1997,100.0,test,kleinwagen,1997.0,manuell,0,tigra,5000,0,NaN,opel,nein,2016-03-10 00:00:00,0,66849,2016-03-23 14:15:30
5224,2016-03-12 13:52:18,Bmw_316_i_motor_schaden,1200.0,control,limousine,2004.0,manuell,0,3er,150000,9,benzin,bmw,NaN,2016-03-12 00:00:00,0,50827,2016-03-12 13:52:18
23399,2016-03-30 22:38:41,Mercedes_benz_c_200_Avantgarde_vollausstattung...,4900.0,control,kombi,2001.0,automatik,0,c_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-30 00:00:00,0,14772,2016-04-01 17:47:44
200888,2016-04-04 13:54:02,Renault_Grand_Modus,3500.0,control,kleinwagen,2005.0,automatik,0,modus,80000,4,benzin,renault,NaN,2016-04-04 00:00:00,0,13127,2016-04-06 15:16:42
200881,2016-03-14 21:42:55,Auto_ist_sehr_sauber,1100.0,test,NaN,2018.0,manuell,0,NaN,150000,0,NaN,opel,NaN,2016-03-14 00:00:00,0,44141,2016-03-21 15:15:45
0,2016-03-24 11:52:17,Golf_3_1.6,480.0,test,NaN,1993.0,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57

In [26]:
data[data['powerps']>800]

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,zip_code,last_seen
1898,2016-03-22 20:52:00,Toyota_Corolla,3200.0,control,kleinwagen,2004.0,manuell,1398,corolla,5000,6,benzin,toyota,nein,2016-03-22 00:00:00,0,22043,2016-03-22 21:43:26
2199,2016-03-21 11:55:22,Reparaturbeduerfdiger_Opel_Vectra_1.8,0.0,control,limousine,1999.0,NaN,1799,vectra,150000,1,benzin,opel,ja,2016-03-21 00:00:00,0,1723,2016-04-04 04:49:06
4254,2016-04-03 20:31:00,Mitsubishi_Colt_Diesel_1_5,3100.0,control,limousine,2005.0,manuell,953,colt,150000,4,diesel,mitsubishi,nein,2016-04-03 00:00:00,0,60326,2016-04-07 14:56:46
5582,2016-03-29 19:44:48,verkauf__bastler__export,500.0,control,kombi,1999.0,manuell,1001,astra,150000,7,benzin,opel,NaN,2016-03-29 00:00:00,0,33154,2016-04-06 05:44:36
8038,2016-04-02 19:25:25,VW_LUPO_1_4_16V_SCHWARZ_75PS_SPORTFAHRWERK_ABT...,1499.0,test,kleinwagen,1999.0,manuell,7515,lupo,150000,4,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,65830,2016-04-06 11:46:49
8099,2016-04-02 11:48:54,Honda_Civic,1500.0,test,kleinwagen,2000.0,manuell,1400,NaN,150000,0,benzin,honda,NaN,2016-04-02 00:00:00,0,21509,2016-04-04 09:15:26
10148,2016-03-14 20:06:19,Opel_zafira_2999,2599.0,control,NaN,2016.0,manuell,1779,zafira,150000,0,benzin,opel,nein,2016-03-14 00:00:00,0,60326,2016-04-07 09:45:27
10368,2016-03-31 20:51:13,Ford_Focus_Kombi_Schwarz_DEFEKT,550.0,test,kombi,2003.0,manuell,1753,focus,150000,1,diesel,ford,ja,2016-03-31 00:00:00,0,21039,2016-03-31 20:51:13
11577,2016-03-25 19:55:32,Fiat_Lancia_Delta_HPE_1_6_16v,0.0,test,limousine,1998.0,manuell,10317,andere,150000,8,benzin,fiat,nein,2016-03-25 00:00:00,0,57520,2016-04-01 19:16:33
13358,2016-03-09 18:43:44,Ford_Streetka_1.6_8V,3500.0,test,cabrio,2003.0,manuell,952,ka,70000,5,benzin,ford,nein,2016-03-09 00:00:00,0,26903,2016-03-12 04:16:07
16193,2016-03-15 21:53:29,Ford_Escort_RS_Cosworth_NEU,0.0,control,coupe,1995.0,manuell,999,escort,5000,6,NaN,ford,nein,2016-03-15 00:00:00,0,10365,2016-04-06 10:17:12
20008,2016-03-20 11:00:08,Seat_ibiza_1.4_MPI,0.0,control,NaN,2016.0,manuell,1111,ibiza,150000,0,NaN,seat,ja,2016-03-20 00:00:00,0,42277,2016-03-20 11:00:08
20022,2016-03-20 17:54:04,BMW_535_touring,9750.0,test,kombi,2005.0,automatik,2729,5er,150000,7,diesel,bmw,nein,2016-03-20 00:00:00,0,21376,2016-03-23 02:48:53
20783,2016-03-18 23:52:30,Nissan_Micra___treues_Rentnerauto_&_Schmuckstueck,3390.0,test,limousine,2009.0,manuell,1240,micra,60000,3,benzin,nissan,nein,2016-03-18 00:00:00,0,22083,2016-03-31 11:16:49
21020,2016-03-26 19:46:06,Mercedes_Benz_e_270,2200.0,control,limousine,2002.0,automatik,1704,e_klasse,150000,1,NaN,mercedes_benz,ja,2016-03-26 00:00:00,0,31812,2016-04-06 09:44:59
21261,2016-03-25 18:48:26,CITROEN_C5_Diesel_HDI__Gute_Zustand_Gruene_Pla...,2000.0,test,kombi,2003.0,manuell,1900,c5,150000,9,diesel,citroen,ja,2016-03-25 00:00:00,0,33378,2016-04-02 23:19:58
22091,2016-03-16 16:46:57,Opel_Corsa_D_1_2_Cosmo_Teilleder_Klima,3990.0,control,NaN,2017.0,manuell,808,corsa,125000,10,NaN,opel,nein,2016-03-16 00:00:00,0,45770,2016-03-19 14:18:02
22650,2016-03-29 17:53:17,lancia_y_schwarz,200.0,control,kleinwagen,2000.0,manuell,1200,NaN,125000,4,benzin,lancia,NaN,2016-03-29 00:00:00,0,10585,2016-04-06 03:45:24
23362,2016-03-17 05:03:48,BMW_328i_schalter,3999.0,control,limousine,1998.0,manuell,1993,3er,150000,2,cng,bmw,NaN,2016-03-17 00:00:00,0,33330,2016-03-22 13:16:50
25766,2016-03-25 14:55:04,1.HAND__wenig_Kilometer,1499.0,control,limousine,1998.0,manuell,1011,NaN,100000,12,benzin,opel,NaN,2016-03-25 00:00:00,0,47475,2016-04-06 18:18:38
26429,2016-03-28 19:57:39,VW_CADDY_MAXI_1.9_TDI,10900.0,control,bus,2009.0,manuell,10520,caddy,150000,6,diesel,volkswagen,nein,2016-03-28 00:00:00,0,36272,2016-04-07 02:47:02
30309,2016-03-21 21:58:07,Vw_Golf_3_Varriant__KEINE_PAPIERE_!!,300.0,control,kombi,1996.0,manuell,1999,golf,10000,0,benzin,volkswagen,NaN,2016-03-21 00:00:00,0,32825,2016-03-23 05:45:04
31090,2016-03-20 22:55:15,Volvo_v40_Diesel__silber_Kombi,1199.0,test,kombi,2000.0,manuell,1056,v40,150000,0,NaN,volvo,nein,2016-03-20 00:00:00,0,34576,2016-04-07 11:17:03
34342,2016-03-22 14:58:27,Chevrolet_g20_mit_nur_39000km,9500.0,control,bus,1986.0,automatik,1659,andere,40000,12,benzin,chevrolet,nein,2016-03-22 00:00:00,0,56564,2016-04-07 03:46:46
35563,2016-03-09 11:37:03,Ideal_als_Zweitwagen_oder_fuer_Fahranfaenger.,3740.0,test,kleinwagen,2006.0,manuell,6920,aygo,90000,10,NaN,toyota,nein,2016-03-09 00:00:00,0,94116,2016-03-17 05:16:32
35964,2016-04-01 06:02:10,UNFAL_Auto,450.0,control,NaN,NaN,NaN,1800,NaN,5000,2,NaN,mitsubishi,nein,2016-04-01 00:00:00,0,63322,2016-04-01 09:42:30
35992,2016-03-25 18:56:53,Auto__Ford_Focus,220.0,test,kleinwagen,1995.0,manuell,1625,escort,150000,2,benzin,ford,ja,2016-03-25 00:00:00,0,16775,2016-04-07 00:46:09
36848,2016-03-16 00:18:43,Opel_zafira,2599.0,test,NaN,2016.0,manuell,1779,zafira,150000,0,benzin,opel,nein,2016-03-14 00:00:00,0,60326,2016-04-06 18:45:49
37115,2016-03-12 16:46:14,Peugeot_307_2.0__HDI_136_Ps_xenonscheinwerfer,3500.0,control,limousine,2005.0,manuell,1367,3_reihe,150000,11,diesel,peugeot,NaN,2016-03-12 00:00:00,0,45144,2016-03-12 16:46:14
37924,2016-04-01 01:56:06,T5_BJ_2006_KLIMA_NAVI_127000,5400.0,control,NaN,2017.0,manuell,2017,transporter,150000,8,diesel,volkswagen,NaN,2016-03-31 00:00:00,0,10178,2016-04-05 01:18:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338501,2016-03-12 17:44:12,Mercedes_benz_E_Classe_220_cdi,0.0,test,limousine,2006.0,manuell,2200,e_klasse,150000,12,diesel,mercedes_benz,nein,2016-03-12 00:00:00,0,14947,2016-04-07 08:45:29
339626,2016-03-11 17:48:48,Mini_Cooper_S_mit_VOLLAUSTATTUNG,7499.0,control,coupe,2004.0,manuell,1707,cooper,150000,7,benzin,mini,nein,2016-03-11 00:00:00,0,58095,2016-03-12 22:45:14
339814,2016-04-05 10:37:13,NISSAN_XTRAIL_4x4!!!_TOP_GELÄNDEWAGEN_!!!_RENT...,6700.0,control,suv,2008.0,manuell,1416,x_trail,150000,3,benzin,nissan,nein,2016-04-05 00:00:00,0,99423,2016-04-07 13:16:15
343150,2016-03-30 19:58:09,Mercedes_Benz_C_220_CDI_T_ELEGANCE,12000.0,test,kombi,2008.0,manuell,1700,c_klasse,150000,8,diesel,mercedes_benz,nein,2016-03-30 00:00:00,0,81241,2016-04-07 11:45:58
344841,2016-03-20 09:57:28,Opel_Corsa_1_2__16v__Top_Zustand,850.0,control,kleinwagen,2000.0,manuell,8500,corsa,150000,3,benzin,opel,nein,2016-03-20 00:00:00,0,26721,2016-04-04 05:50:15
348031,2016-03-12 10:56:09,A_140__Bastler_fahrzeug__mit_TÜV_bis_08/17,750.0,control,kleinwagen,1999.0,manuell,1400,a_klasse,150000,2,benzin,mercedes_benz,NaN,2016-03-12 00:00:00,0,24109,2016-03-13 01:46:51
351721,2016-03-27 01:00:18,VW_PASSAT_B3_1.6_AHK_KLIMA_4XEL.Fh,1444.0,test,kombi,1997.0,manuell,1012,passat,150000,11,benzin,volkswagen,nein,2016-03-27 00:00:00,0,78234,2016-04-07 04:45:18
354482,2016-03-07 17:49:02,opel_Astra,250.0,test,limousine,1995.0,manuell,1598,astra,150000,9,benzin,opel,ja,2016-03-07 00:00:00,0,48165,2016-03-08 09:46:38
354518,2016-04-02 16:57:37,Verkaufe_Audi_A4_quattro,1700.0,control,NaN,1995.0,manuell,1503,a4,150000,5,benzin,audi,nein,2016-04-02 00:00:00,0,78234,2016-04-06 16:16:09
355280,2016-03-24 19:49:36,Golf_4_Karosse_schrott_Kupfer,50.0,control,NaN,NaN,NaN,3000,golf,100000,6,NaN,volkswagen,ja,2016-03-24 00:00:00,0,23992,2016-04-03 13:17:57
356131,2016-03-07 16:58:44,Ford_focus_fuer_bastler,600.0,control,limousine,2000.0,manuell,10110,focus,125000,12,benzin,ford,NaN,2016-03-07 00:00:00,0,35066,2016-03-07 17:41:33
357294,2016-04-04 23:55:47,A3_zu_verkaufen,700.0,control,NaN,NaN,manuell,1600,a3,150000,4,benzin,audi,nein,2016-04-04 00:00:00,0,86343,2016-04-05 06:44:07
357617,2016-04-03 22:57:04,Opel_Corsa_TÜV_07.2016,449.0,control,NaN,2016.0,manuell,4507,corsa,150000,4,benzin,opel,nein,2016-04-03 00:00:00,0,29525,2016-04-06 00:16:11
357868,2016-03-07 16:42:25,Audi_A4_Sline,10000.0,control,kombi,2005.0,automatik,1631,a4,150000,9,diesel,audi,NaN,2016-03-07 00:00:00,0,18311,2016-03-29 09:15:42
357890,2016-03-29 21:40:33,Citroen_Berlingo_EZ11/2006_=_1_4_=_75_PS,1899.0,test,andere,2006.0,manuell,7518,berlingo,125000,11,benzin,citroen,ja,2016-03-29 00:00:00,0,89428,2016-03-31 15:17:03
358921,2016-03-22 09:57:36,Ford_Galaxy_1_9_TDI,2350.0,test,bus,2002.0,manuell,1250,galaxy,150000,0,diesel,ford,NaN,2016-03-22 00:00:00,0,52353,2016-03-26 10:46:54
362535,2016-03-30 17:56:27,Ford_ka_top_zustand,850.0,control,NaN,2005.0,manuell,1003,ka,5000,12,benzin,ford,nein,2016-03-30 00:00:00,0,45891,2016-04-05 06:17:55
363454,2016-03-25 12:55:36,Mitsubishi_carisma,1300.0,test,limousine,2000.0,manuell,12512,carisma,150000,9,benzin,mitsubishi,NaN,2016-03-25 00:00:00,0,42105,2016-04-06 14:44:53
363507,2016-03-24 11:50:41,Bmw_530d_tuev_euro_4_top_gepflegt_!,7498.0,test,NaN,2017.0,automatik,2018,5er,150000,9,NaN,bmw,nein,2016-03-24 00:00:00,0,59425,2016-03-30 12:46:26
363852,2016-03-21 20:58:26,Opel_Vectra___75.500_km__Automatik,450.0,control,limousine,1996.0,automatik,1004,vectra,80000,5,benzin,opel,ja,2016-03-21 00:00:00,0,12689,2016-03-21 20:58:26
364886,2016-03-22 13:44:40,PKW_Ersatzteilspender_Opel_Vectra_B,355.0,control,limousine,1998.0,manuell,1799,vectra,150000,6,benzin,opel,NaN,2016-03-22 00:00:00,0,39175,2016-03-29 16:45:09
365025,2016-03-16 21:48:39,Golf_3/3_Tueren,850.0,control,limousine,1993.0,automatik,9012,golf,150000,0,benzin,volkswagen,NaN,2016-03-16 00:00:00,0,14482,2016-04-03 09:17:43
365133,2016-04-04 12:38:11,Opel_Corsa_1.7_cdti,3000.0,control,coupe,2007.0,manuell,2007,corsa,150000,3,diesel,opel,ja,2016-04-04 00:00:00,0,72218,2016-04-04 12:38:11
365581,2016-03-05 17:53:09,Audi_A6_C4,1000.0,test,kombi,1996.0,manuell,2598,a6,150000,7,NaN,audi,NaN,2016-03-05 00:00:00,0,7646,2016-03-07 16:17:01
365751,2016-03-22 00:38:15,Kostenlose_altautoentsorgung,1.0,control,NaN,NaN,NaN,1000,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-21 00:00:00,0,41472,2016-04-05 14:18:01
365806,2016-03-13 11:51:57,Top_gepflegter_Scenic_von_Privat,7500.0,control,limousine,2011.0,manuell,1548,scenic,90000,4,benzin,renault,NaN,2016-03-13 00:00:00,0,24568,2016-04-06 15:17:39
365894,2016-04-04 18:53:25,Baster_Fahrzeug,250.0,test,kleinwagen,1999.0,manuell,1241,ypsilon,150000,5,benzin,lancia,ja,2016-04-04 00:00:00,0,28259,2016-04-04 18:53:25
369007,2016-03-07 21:36:19,!!!!!_Opel_zafira_2.0_dti_16_v_comfort_verkauf...,1500.0,control,bus,2001.0,manuell,1001,zafira,5000,7,diesel,opel,nein,2016-03-07 00:00:00,0,66117,2016-03-09 12:47:08
370612,2016-04-02 20:54:21,Dodge_journey_sxt_crd,12500.0,test,NaN,2017.0,manuell,2000,andere,60000,0,diesel,chrysler,nein,2016-04-02 00:00:00,0,44145,2016-04-06 21:44:39
371414,2016-03-09 17:59:03,BMW_Compakt,399.0,test,andere,1994.0,NaN,1103,3er,150000,0,NaN,bmw,NaN,2016-03-09 00:00:00,0,56235,2016-03-17 09:17:08

In [27]:
#update PS >800 and PS <30 to NaN
data.loc[data['powerps']>800, 'powerps'] = np.nan
data.loc[data['powerps'] < 30, 'powerps'] = np.nan

In [28]:
data.sort_values(by='powerps', ascending=True)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,nr_of_pictures,zip_code,last_seen
118540,2016-03-05 16:44:57,NSU_Prinz_4,2000.0,control,kleinwagen,1973.0,manuell,30.0,NaN,10000,6,benzin,sonstige_autos,nein,2016-03-05 00:00:00,0,39307,2016-04-05 12:44:31
242405,2016-03-27 12:36:22,Nissan_Micra_k11_1_0,200.0,test,kleinwagen,1995.0,manuell,30.0,micra,150000,9,benzin,nissan,nein,2016-03-27 00:00:00,0,4828,2016-04-07 07:45:30
66498,2016-03-17 22:06:21,Yamaha_warrior,3750.0,control,andere,2002.0,manuell,30.0,NaN,5000,1,benzin,sonstige_autos,NaN,2016-03-17 00:00:00,0,35041,2016-04-07 01:15:31
242236,2016-04-04 21:54:38,NSU_Prinz_4,1950.0,test,andere,1963.0,manuell,30.0,NaN,5000,12,benzin,sonstige_autos,nein,2016-04-04 00:00:00,0,89075,2016-04-07 00:45:13
244457,2016-04-05 00:36:45,Volkswagen_ovali_export,6900.0,control,limousine,1956.0,manuell,30.0,kaefer,150000,4,NaN,volkswagen,nein,2016-04-05 00:00:00,0,37130,2016-04-07 11:15:59
308802,2016-03-07 12:53:15,"Daihatsu_CUORE_""_SELTENER_OLDTIMER_""_LOOK",3500.0,test,kleinwagen,1985.0,manuell,30.0,cuore,5000,4,benzin,daihatsu,nein,2016-03-07 00:00:00,0,97262,2016-04-06 03:17:18
246889,2016-03-08 20:49:38,Smart_Fortwo_CDI,2300.0,control,kleinwagen,2003.0,automatik,30.0,fortwo,150000,6,diesel,smart,nein,2016-03-08 00:00:00,0,51063,2016-03-12 23:46:02
325075,2016-03-07 17:48:49,VW_Kaefer_Ovali_1954,6600.0,test,NaN,1960.0,NaN,30.0,kaefer,5000,4,NaN,volkswagen,NaN,2016-03-07 00:00:00,0,15324,2016-04-06 12:44:47
161967,2016-03-09 01:47:48,VW_Kaefer__&#x27;62__Dickholmer__Faltdach__Exp...,3999.0,control,limousine,1962.0,manuell,30.0,kaefer,100000,5,benzin,volkswagen,NaN,2016-03-08 00:00:00,0,32584,2016-03-09 14:18:46
65304,2016-04-04 19:37:42,Fiat_Panda_30___1_Serie,600.0,test,kleinwagen,1982.0,manuell,30.0,panda,100000,0,benzin,fiat,NaN,2016-04-04 00:00:00,0,73340,2016-04-06 21:45:22
327347,2016-03-08 14:52:13,Smart_fortwo_CDI,2300.0,test,kleinwagen,2003.0,automatik,30.0,fortwo,150000,6,diesel,smart,nein,2016-03-08 00:00:00,0,51063,2016-03-08 15:40:34
40833,2016-03-20 11:59:21,Volkswagen_Kaefer,18500.0,test,limousine,1959.0,manuell,30.0,kaefer,70000,11,benzin,volkswagen,nein,2016-03-20 00:00:00,0,84034,2016-04-06 10:17:09
240839,2016-03-31 22:50:46,NSU_Prinz_4,5400.0,test,kleinwagen,1970.0,manuell,30.0,NaN,20000,8,benzin,sonstige_autos,nein,2016-03-31 00:00:00,0,21368,2016-04-06 19:47:48
18677,2016-03-19 17:53:13,unimog_411_cabrio,17900.0,control,suv,1960.0,manuell,30.0,andere,60000,7,diesel,mercedes_benz,NaN,2016-03-19 00:00:00,0,66914,2016-04-03 03:44:33
36567,2016-03-29 17:58:45,OPEL_CORSA_C_MIT_KLIMA_UND_SITZHEIZUNG_WENIG_K...,1250.0,control,kleinwagen,2005.0,NaN,30.0,corsa,100000,1,benzin,opel,NaN,2016-03-29 00:00:00,0,69469,2016-03-29 17:58:45
352061,2016-03-15 00:36:35,Oldtimer_Aero_30_Roadster_1938,17000.0,test,cabrio,1944.0,manuell,30.0,NaN,5000,1,benzin,sonstige_autos,nein,2016-03-15 00:00:00,0,45897,2016-03-26 07:15:42
363634,2016-04-04 20:46:38,Citroën_Andere,9850.0,control,cabrio,1992.0,manuell,30.0,andere,150000,8,benzin,citroen,nein,2016-04-04 00:00:00,0,26725,2016-04-06 23:16:25
307314,2016-03-21 19:50:09,Volkswagen_Kaefer,8750.0,test,limousine,1960.0,manuell,30.0,kaefer,40000,3,benzin,volkswagen,nein,2016-03-21 00:00:00,0,38518,2016-03-21 19:50:09
16174,2016-03-30 23:38:13,Kaefer_Ovali,18000.0,control,limousine,1956.0,manuell,30.0,NaN,150000,0,benzin,volkswagen,NaN,2016-03-30 00:00:00,0,82205,2016-04-05 23:17:35
131387,2016-03-05 19:52:58,Kafer_1957_1958_Chassis/Bodengruppe_komplett,1995.0,test,kleinwagen,1959.0,manuell,30.0,kaefer,50000,2,benzin,volkswagen,ja,2016-03-05 00:00:00,0,46459,2016-03-26 04:45:56
263187,2016-03-11 14:46:25,Komplettlackierung_fuer_Kleinwagen,0.0,control,kleinwagen,1960.0,manuell,30.0,andere,5000,1,benzin,volkswagen,nein,2016-03-11 00:00:00,0,52062,2016-03-11 14:46:25
350965,2016-03-18 21:37:22,VW_Winker_Faltdach_Kaefer_Bj_1958_zum_Fertigst...,3800.0,control,limousine,1958.0,manuell,30.0,kaefer,150000,0,benzin,volkswagen,NaN,2016-03-18 00:00:00,0,25712,2016-03-18 21:37:22
3491,2016-03-15 21:36:20,Ford_Popular_Oldtimer_103_E_Restauriert_Oldtimer,10500.0,control,limousine,1955.0,manuell,30.0,andere,60000,0,benzin,ford,NaN,2016-03-15 00:00:00,0,53498,2016-04-07 08:16:11
7402,2016-03-11 09:53:53,Smart_Diesel,1300.0,control,NaN,2005.0,automatik,30.0,roadster,150000,0,NaN,smart,ja,2016-03-11 00:00:00,0,26725,2016-03-19 11:44:25
240034,2016-03-23 15:49:47,NSU_Prinz_4_L__Typ_47_,1550.0,test,NaN,1980.0,manuell,30.0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-03-23 00:00:00,0,87509,2016-04-05 19:17:09
309833,2016-03-17 17:45:07,Smart_Bauj._1999,1500.0,control,kleinwagen,1999.0,automatik,30.0,fortwo,125000,5,benzin,smart,nein,2016-03-17 00:00:00,0,39606,2016-03-17 17:45:07
359741,2016-04-04 20:55:58,Volkswagen_Kaefer,2000.0,control,kleinwagen,1959.0,manuell,30.0,kaefer,100000,9,benzin,volkswagen,ja,2016-04-04 00:00:00,0,46509,2016-04-06 23:18:10
52649,2016-04-05 08:25:24,VW_Faltdachkaefer_1960,2000.0,test,limousine,1960.0,manuell,30.0,kaefer,150000,6,benzin,volkswagen,nein,2016-04-05 00:00:00,0,56244,2016-04-05 12:28:15
23714,2016-03-23 11:37:57,Oldtimer_Citroën_F_AC_4_Bj_29,14000.0,test,limousine,1929.0,manuell,30.0,NaN,5000,7,benzin,sonstige_autos,NaN,2016-03-23 00:00:00,0,90475,2016-04-05 11:18:18
168626,2016-03-16 07:54:19,Smart___fortwo_coupe_cdi_passion,2600.0,control,coupe,2005.0,automatik,30.0,fortwo,125000,11,diesel,smart,nein,2016-03-16 00:00:00,0,24360,2016-03-25 07:49:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371296,2016-03-12 13:57:47,Twingo_Automatik_*privat*,1400.0,control,kleinwagen,1998.0,automatik,NaN,twingo,70000,12,benzin,renault,ja,2016-03-12 00:00:00,0,45355,2016-03-15 00:16:24
371299,2016-03-25 12:54:45,VOLVO_XC90_7_Sitzer_voll_Leder_Diesel___Momentum,13500.0,test,suv,2005.0,NaN,NaN,xc_reihe,150000,0,diesel,volvo,NaN,2016-03-25 00:00:00,0,37154,2016-03-26 22:46:31
371309,2016-03-07 19:51:14,Tausche_Golf2_gegen_VW_Audi_oder_Ratte_Ratlook,1500.0,control,NaN,1995.0,NaN,NaN,NaN,150000,0,NaN,volkswagen,NaN,2016-03-07 00:00:00,0,26789,2016-04-03 11:46:59
371316,2016-03-29 19:50:03,colt_Mitsubishi,3000.0,control,NaN,2016.0,manuell,NaN,colt,150000,8,diesel,mitsubishi,nein,2016-03-29 00:00:00,0,45472,2016-04-06 05:46:43
371342,2016-04-01 01:56:04,Suche_e46_Coupé,5000.0,control,coupe,1999.0,automatik,NaN,3er,150000,0,NaN,bmw,NaN,2016-03-31 00:00:00,0,22523,2016-04-03 03:16:04
371348,2016-04-05 10:57:00,Mercedes_Benz_Sprinter,8500.0,control,bus,2007.0,automatik,NaN,sprinter,150000,8,diesel,mercedes_benz,nein,2016-04-05 00:00:00,0,41236,2016-04-07 14:56:40
371349,2016-03-10 23:36:19,Mercedes_Benz_CLK_200_Kompressor_6_Gang,1350.0,test,NaN,2016.0,manuell,NaN,clk,150000,8,NaN,mercedes_benz,ja,2016-03-10 00:00:00,0,26427,2016-03-13 02:45:51
371351,2016-03-30 23:48:01,Opel_Opel_Meriva_A,1500.0,control,bus,2005.0,manuell,NaN,meriva,50000,6,benzin,opel,ja,2016-03-30 00:00:00,0,22399,2016-04-05 15:46:43
371359,2016-03-26 08:54:05,207_cc_platinum,8700.0,test,NaN,2009.0,NaN,NaN,2_reihe,90000,8,benzin,peugeot,NaN,2016-03-26 00:00:00,0,51491,2016-04-05 20:44:46
371370,2016-03-19 14:59:31,RENAULT_R_5_GTR___3___TÜR,790.0,test,NaN,1990.0,manuell,NaN,andere,150000,1,benzin,renault,NaN,2016-03-19 00:00:00,0,34298,2016-03-28 17:18:05
371374,2016-03-14 23:53:14,VW_Golf_1_zum_Verkauf,2200.0,control,cabrio,1988.0,manuell,NaN,golf,150000,6,benzin,volkswagen,nein,2016-03-14 00:00:00,0,4179,2016-03-17 23:46:44
371375,2016-03-10 19:36:59,Seat_Ibiza_1.2_12V,4300.0,control,kleinwagen,2009.0,NaN,NaN,ibiza,150000,3,benzin,seat,nein,2016-03-10 00:00:00,0,32756,2016-04-06 02:16:56
371380,2016-03-14 11:51:40,Bmw_118i_manuell,9000.0,test,NaN,2008.0,NaN,NaN,1er,125000,0,NaN,bmw,NaN,2016-03-14 00:00:00,0,93138,2016-04-07 14:57:24
371407,2016-03-25 09:37:59,Opel_Corsa_C,1250.0,test,NaN,2018.0,NaN,NaN,corsa,150000,0,benzin,opel,NaN,2016-03-25 00:00:00,0,45527,2016-04-06 07:46:13
371414,2016-03-09 17:59:03,BMW_Compakt,399.0,test,andere,1994.0,NaN,NaN,3er,150000,0,NaN,bmw,NaN,2016-03-09 00:00:00,0,56235,2016-03-17 09:17:08
371417,2016-03-14 23:00:21,Mercedes_Benz_CLK_200_Tuev_02/2017_Coupe_Xenon...,1800.0,control,coupe,2000.0,manuell,NaN,clk,150000,10,benzin,mercedes_benz,nein,2016-03-14 00:00:00,0,45661,2016-03-15 06:40:58
371424,2016-04-04 13:55:18,A6_4f_3.0Tdi_Quattro_25_Jahre_Quattro_Edition,9000.0,control,kombi,2005.0,manuell,NaN,a6,150000,0,diesel,audi,NaN,2016-04-04 00:00:00,0,99869,2016-04-06 15:16:47
371443,2016-03-16 13:36:25,Touran_2.0__HIGHLINE_LEDER_BEIGE,3300.0,control,kombi,2006.0,NaN,NaN,touran,150000,7,diesel,volkswagen,NaN,2016-03-16 00:00:00,0,12057,2016-03-17 12:17:07
371457,2016-03-12 08:37:15,Chevy_Van_4x4_Allrad_H_Nummer,5990.0,control,bus,1984.0,automatik,NaN,andere,70000,4,benzin,chevrolet,NaN,2016-03-12 00:00:00,0,87600,2016-03-24 23:47:48
371460,2016-04-03 13:46:24,Polo_g40_auch_Tausch_vag...no_vr6_gti_1.8t,3500.0,control,NaN,1995.0,NaN,NaN,polo,150000,0,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,74579,2016-04-05 12:44:38
371473,2016-03-15 19:57:11,Subaru_Allrad,400.0,control,kombi,1991.0,manuell,NaN,legacy,150000,0,benzin,subaru,NaN,2016-03-15 00:00:00,0,24558,2016-03-19 15:49:00
371489,2016-03-13 15:45:22,Mercedes_B_150_Special_Edition_Sport_Paket,7900.0,test,bus,2007.0,manuell,NaN,b_klasse,125000,1,benzin,mercedes_benz,nein,2016-03-13 00:00:00,0,30519,2016-03-27 00:18:05
371492,2016-04-04 14:41:28,Opel_Corsa_B_Swing_grau,390.0,test,kleinwagen,1997.0,automatik,NaN,corsa,100000,6,benzin,opel,ja,2016-04-04 00:00:00,0,17509,2016-04-06 15:46:11
371493,2016-03-05 18:57:45,Top_Zustand,3299.0,test,NaN,2005.0,automatik,NaN,outlander,150000,4,benzin,mitsubishi,NaN,2016-03-05 00:00:00,0,17034,2016-03-06 04:17:37
371495,2016-03-31 19:52:33,Opel_Tigra,180.0,control,NaN,1995.0,NaN,NaN,NaN,125000,3,benzin,opel,NaN,2016-03-31 00:00:00,0,41470,2016-04-06 14:18:04
371504,2016-03-07 17:06:35,220_cdi_Benz,2600.0,control,NaN,2005.0,automatik,NaN,c_klasse,150000,9,NaN,mercedes_benz,NaN,2016-03-07 00:00:00,0,61169,2016-03-08 21:28:38
371518,2016-04-02 20:37:03,Bmw_320_D_DPF_Touring_!!!,3999.0,test,kombi,2005.0,manuell,NaN,3er,150000,5,diesel,bmw,nein,2016-04-02 00:00:00,0,81825,2016-04-06 20:47:12
371521,2016-03-27 20:36:20,Opel_Zafira_1.6_Elegance_TÜV_12/16,1150.0,control,bus,2000.0,manuell,NaN,zafira,150000,3,benzin,opel,nein,2016-03-27 00:00:00,0,26624,2016-03-29 10:17:23
371522,2016-03-21 09:50:58,Mitsubishi_Cold,0.0,control,NaN,2005.0,manuell,NaN,colt,150000,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,2200.0,test,NaN,2005.0,NaN,NaN,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52

Still in 'powerps' lots of unrealistic values.

In [29]:
#Check 'model' column
data['model'].value_counts(dropna=False)

golf                  30069
andere                26399
3er                   20566
NaN                   20481
polo                  13092
corsa                 12573
astra                 10829
passat                10306
a4                    10257
c_klasse               8775
5er                    8546
e_klasse               7560
a3                     6604
a6                     6023
focus                  5950
fiesta                 5774
transporter            5527
twingo                 4953
2_reihe                4816
fortwo                 4338
a_klasse               4316
vectra                 4255
1er                    3837
mondeo                 3626
clio                   3552
touran                 3540
3_reihe                3503
punto                  3349
zafira                 3049
megane                 2927
                      ...
mii                      81
crossfire                66
range_rover_evoque       65
gl                       64
nubira                   62
move                     60
lybra                    54
145                      50
v60                      48
croma                    45
amarok                   42
delta                    40
terios                   35
lodgy                    35
9000                     31
charade                  27
b_max                    26
musa                     25
materia                  18
200                      18
kappa                    15
samara                   13
elefantino               11
i3                       10
kalina                    9
serie_2                   8
rangerover                6
serie_3                   4
serie_1                   2
discovery_sport           1
Name: model, Length: 252, dtype: int64

In [30]:
#Check 'kilometer' column
data['kilometer'].value_counts(dropna=False)

150000    240790
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7614
5000        7066
40000       6376
30000       6041
20000       5675
10000       1949
Name: kilometer, dtype: int64

In [31]:
#Check 'fuel_type' column
data['fuel_type'].value_counts(dropna=False)

benzin     223854
diesel     107744
NaN         33379
lpg          5378
cng           571
hybrid        278
andere        208
elektro       104
Name: fuel_type, dtype: int64

In [32]:
#Check 'brand' column
data['brand'].value_counts(dropna=False)

volkswagen        79638
bmw               40272
opel              40135
mercedes_benz     35308
audi              32873
ford              25571
renault           17968
peugeot           11027
fiat               9676
seat               7022
mazda              5695
skoda              5641
smart              5249
citroen            5182
nissan             5037
toyota             4694
sonstige_autos     3980
hyundai            3646
mini               3394
volvo              3327
mitsubishi         3061
honda              2836
kia                2555
alfa_romeo         2345
suzuki             2328
porsche            2215
chevrolet          1845
chrysler           1452
dacia               900
jeep                807
daihatsu            806
subaru              779
land_rover          770
jaguar              621
trabant             590
daewoo              542
saab                530
rover               490
lancia              484
lada                225
Name: brand, dtype: int64

In [33]:
#Check 'nr_of_pictures' column
data['nr_of_pictures'].value_counts(dropna=False)

0    371516
Name: nr_of_pictures, dtype: int64

In [34]:
#Remove 'nr_of_pictures' column
data = data.drop('nr_of_pictures', axis=1)

In [35]:
#Check 'zip_code' column
data['zip_code'].value_counts(dropna=False)

10115    828
65428    637
66333    349
38518    326
44145    323
32257    323
52525    314
78224    309
26789    301
48599    294
13357    293
53757    284
50354    283
48249    282
40764    282
60311    281
51065    278
52249    277
60386    275
61169    269
92637    266
26871    265
66424    265
45881    262
56070    262
65719    261
13409    257
87700    257
59192    254
44339    254
        ...
55499      1
67311      1
21784      1
38325      1
63874      1
21360      1
95356      1
26906      1
29361      1
17154      1
79685      1
91471      1
88376      1
77787      1
95694      1
27254      1
60306      1
7619       1
29587      1
91465      1
25946      1
4685       1
98749      1
74937      1
24638      1
97859      1
29484      1
85071      1
17329      1
37297      1
Name: zip_code, Length: 8150, dtype: int64

In [36]:
#change date+time columns to date only
data["date_crawled"] = data["date_crawled"].str[:10]
data["date_created"] = data["date_created"].str[:10]
data["last_seen"] = data["last_seen"].str[:10]

In [37]:
#Update model values
data['brand'] = data['brand'].str.capitalize()

In [38]:
data.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,zip_code,last_seen
0,2016-03-24,Golf_3_1.6,480.0,test,NaN,1993.0,manuell,NaN,golf,150000,0,benzin,Volkswagen,NaN,2016-03-24,70435,2016-04-07
1,2016-03-24,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5,diesel,Audi,ja,2016-03-24,66954,2016-04-07
2,2016-03-14,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8,diesel,Jeep,NaN,2016-03-14,90480,2016-04-05
3,2016-03-17,GOLF_4_1_4__3TÜRER,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6,benzin,Volkswagen,nein,2016-03-17,91074,2016-03-17
4,2016-03-31,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7,diesel,Skoda,nein,2016-03-31,60437,2016-04-06

In [39]:
data.describe(include='all')

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,powerps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,date_created,zip_code,last_seen
count,371516,371516,371422.000000,371516,333654,371307.000000,351313,329432.000000,351035,371516.000000,371516.000000,338137,371516,299462,371516,371516.000000,371516
unique,34,233520,NaN,2,8,NaN,2,NaN,251,NaN,NaN,7,40,2,114,NaN,34
top,2016-04-03,Ford_Fiesta,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,Volkswagen,nein,2016-04-03,NaN,2016-04-06
freq,14390,657,NaN,192581,95894,NaN,274208,NaN,30069,NaN,NaN,223854,79638,263178,14449,NaN,80930
mean,NaN,NaN,5754.180409,NaN,NaN,2003.347478,NaN,126.200648,NaN,125619.690673,5.734555,NaN,NaN,NaN,NaN,50820.754880,NaN
std,NaN,NaN,9496.782999,NaN,NaN,7.776021,NaN,62.161008,NaN,40110.814656,3.712372,NaN,NaN,NaN,NaN,25799.143633,NaN
min,NaN,NaN,0.000000,NaN,NaN,1910.000000,NaN,30.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,1067.000000,NaN
25%,NaN,NaN,1150.000000,NaN,NaN,1999.000000,NaN,80.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,30459.000000,NaN
50%,NaN,NaN,2950.000000,NaN,NaN,2003.000000,NaN,116.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,49610.000000,NaN
75%,NaN,NaN,7200.000000,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,71546.000000,NaN
max,NaN,NaN,600000.000000,NaN,NaN,2018.000000,NaN,800.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,99998.000000,NaN

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371516 entries, 0 to 371527
Data columns (total 17 columns):
date_crawled          371516 non-null object
name                  371516 non-null object
price                 371422 non-null float64
abtest                371516 non-null object
vehicle_type          333654 non-null object
registration_year     371307 non-null float64
gearbox               351313 non-null object
powerps               329432 non-null float64
model                 351035 non-null object
kilometer             371516 non-null int64
registration_month    371516 non-null int64
fuel_type             338137 non-null object
brand                 371516 non-null object
unrepaired_damage     299462 non-null object
date_created          371516 non-null object
zip_code              371516 non-null int64
last_seen             371516 non-null object
dtypes: float64(3), int64(3), object(11)
memory usage: 51.0+ MB

## Saving the cleaned dataset

In [42]:
#Save the cleaned dataset
data.to_csv('Data/autos_cleaned.csv', index=False)